Why not add the extensions parameter to the existing application/rdap+json media type?

[Section 4.3 of RFC 6838 ](https://www.rfc-editor.org/rfc/rfc6838.html#page-13)says:

New parameters SHOULD NOT be defined as a way to introduce new functionality in types registered in the standards tree, although new parameters MAY be added to convey additional information that does not otherwise change existing functionality.

Is this the reason why we are creating a new media type? (In case it is asked.)